@model IEnumerable<Bookland.Models.Product>
<head>
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="home">
        <h1>Popüler Kitaplar</h1>
        <a class="nav-link" href="/Account/Login">Çıkış</a>

        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="@product.ImageUrl" class="card-img-top" alt="@product.Title" />
                        <div class="card-body">
                            <h5 class="card-title">@product.Title</h5>
                            <p class="card-text">Yazar: @product.Author</p>
                            <p class="card-text">Fiyat: @product.Price ₺</p>
                            <button class="btn btn-primary">Sepete Ekle</button>
                            <button class="btn btn-outline-danger float-end">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>

