@model IEnumerable<Product>
    
<h3>Ürün Listesi</h3>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>İsim</td>
            <td>Açıklama</td>
            <td>Fiyat</td>
            <td>Kategori</td>
        </tr>
    </thead>
    <tbody>
        @foreach(var pr in Model){
            <tr>
                <td>@pr.ProductID</td>
                <td>@pr.Name</td>
                <td>@pr.Description</td>
                <td>@pr.Price</td>
                <td>@pr.Category</td>
            </tr>
        }
    </tbody>
</table>
<a href="Product/Create"><button class="btn btn-primary">Ekle</button></a>